.btn-bottom-line {
  position: relative;
  text-shadow: rgb(214, 212, 212) 0.1em 0.1em 0.2em;
  border-radius: 0;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: gray;
    transition: width 0.5s;
  }
  &:hover:after {
    width: 50%;
    transform-origin: left;
    transition: width 0.5s;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0%;
    height: 2px;
    background: gray;
    transition: width 0.5s;
  }
  &:hover:before {
    width: 50%;
    transform-origin: right;
    transition: width 0.5s;
  }
  &:focus {
    box-shadow: none;
    font-weight: bold;
    text-shadow: white 0.1em 0.1em 0.2em;
  }
}
.btn-bg-light{
  position: relative;

  text-shadow: rgb(214, 212, 212) 0.1em 0.1em 0.2em;
  transition: text-shadow .25s, font-weight .25s, background-color .25s;
  border-radius: 0;
  &:hover {
   
    text-shadow: white 0.1em 0.1em 0.2em;
    background: rgba(216, 216, 216, 0.1);
  }
}



.btn-primary {
  &:hover {
    background: gray;  
    transition: background-color 0.3s;
  }
}

.btn-outline-primary {
  color: black;
  background: white;
  &:hover {
    transition: background-color 0.3s;
    color: white;
    background: black;
  }
}

.btn-start-line {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  position: relative;
  transition: color 0.5s, background-color 0.5s;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: width 0.5s, background-color 0.5s;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    color: black;
  }

  &:active:before {
    background: #b9b9b9;
  }
}

.btn-start-line-dark {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    color: white;
  }

  &:active:before {
    background: #b9b9b9;
  }
}

.btn-love {
  &:hover .bi-heart-fill {
    color: rgb(236, 119, 119) !important;
    transition: color 0.5s ease;
  }
  &.active .bi-heart-fill {
    color: rgb(236, 119, 119) !important;
    transition: color 0.5s ease;
  }
}

.btn-cart {
  opacity: 0.8;
  &:hover, &:focus {
    opacity: 1;
  }
}
